@import "../common-imports";

.about-being-member{
    &__images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
        &--img1 { 
            grid-area: 1 / 1 / 2 / 2; 
        }
        &--img2 { 
            grid-area: 2 / 1 / 3 / 2; 
        }
        &--img3 { 
            grid-area: 1 / 2 / 3 / 3; 
        }
    }
    &__text{
        p{
            color:$blue-gray;
            font-weight: 300;
            margin-bottom: 2.4rem;
        }
    }
}
 
