@import './../common-imports';

.callout-1{
    position: relative;
    .text-wrapper{
        .h3{
            max-width: 56.7rem;
        }
        &__body{ 
            p{
                font-weight: 300;
                @include media-breakpoint-up(lg) {
                    column-count: 2;
                }
                color: $blue-gray;
            }
            
        }
    }

    .thumb-img{
        height: 100%;
        right: 0;
        top: 16.6rem;
        padding-right: 3.2rem;
        padding-left: 3.2rem;
        @include media-breakpoint-up(lg) {
            height: 50.8rem;
            padding-right: 0;
            padding-left: 0;
        }
        @include media-breakpoint-up(xl) {
            width: 50.8rem;
            position: absolute;
        }
        img{
            border-radius: 2rem;
            width: 100%;
            max-height: 50.8rem;
            object-fit: cover;
            @include media-breakpoint-up(lg) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin-right: -10rem;
            }
            @include media-breakpoint-up(xl) {
                margin-right: 0;
                position: absolute;
            }
        }
    }
}
