@import "./../common-imports";
@import './../cards/card-a06.scss';

.donations{
    &__block{
        p{
            color: $blue-gray;
            font-weight: 300;
            @include media-breakpoint-up(xl) {  
                max-width:28.6rem;
            }
        }
    }
}
