.notice-section{
    ul{
        li{
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: 1.5px;
            a{
                font-weight: 600;
            }
            i{
                padding-right: 3.2rem;
            }
        }
    }
}
