  @import "../common-imports";


$blue-gray: #667680;

.photo-leadspace{
    &.feature-callout{
        margin-top: -9.2rem;
        padding-top: 19.6rem;
        padding-bottom: 10.4rem;
        @include media-breakpoint-up(md) {
            padding-top: 18.6rem;
            padding-bottom: 9.4rem;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 20rem;
            padding-bottom: 13rem;
        }
        @include media-breakpoint-up(xl) {
            padding-top: 20rem;
            padding-bottom: 10.8rem;
        }
    }
    figure{
        img{
            object-fit: cover;
        }
    }
    .overlay {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba($color: $blue-gray, $alpha: 0.5);
        z-index:1;
    }
    .z-index-2 {
        z-index: 2;
    }
}
