@import "../common-imports";


$blue-gray: #667680;

.photo-leadspace{
    &.feature-callout{
        height: 40rem;
    }
    figure{
        img{
            object-fit: cover;
        }
    }
    .overlay {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba($color: $blue-gray, $alpha: 0.5);
        z-index:1;
    }
    .z-index-2 {
        z-index: 2;
    }
}
