@import "./../common-imports";

.progress-bar{
    &__image{
        position: relative;
        figure{
            border-radius: 2rem;
            position: relative;
            padding-bottom: 136.31%;
            @include media-breakpoint-up(md) {
                padding-bottom: 115.74%;
            }
            @include media-breakpoint-up(lg) {
                padding-bottom: 70%;
            }
            @include media-breakpoint-up(xl) {
                padding-bottom: 40%;
            }
            img{
                position: absolute;
                object-fit: cover;
            }
            &::after{
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #62737D 1.85%, rgba(98, 115, 125, 0) 94.71%);
            }
        }
        &--text{
            position: absolute;
            bottom: 4rem;
            left: 0;
        }
    }
}
