@import './../common-imports';

.form-control{
    height: 6.2rem;
    border-radius: 0.8rem;
    border-color: $gray;
    font-size: 1.6rem;
    color: $black;
    padding: 1.6rem;
    &::placeholder{
        font-size: 1.6rem;
        line-height: 2.8rem;
        font-weight: 400;
        font-family: "Poppins";
        color: $gray;
    }
}

.form-group{
    margin-bottom: 3.2rem;
}

label{
    font-weight: 600;
    font-family: 'Poppins';
    font-size: 1.4rem;
    line-height: 2.4rem;
    letter-spacing: 1.5px;
    color: $blue-gray;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}
