@import "../common-imports";
.card-a01{
    max-width: 81.5rem;
   .h3{
       font-weight: 300;
       position: relative;
       letter-spacing: -0.03em;
   }
   p{
       font-weight: 500;
       &:last-of-type{
            color: $blue-gray;
        }
   }
   .eyebrow-2{
       line-height:2.4rem;
   }
}
