.card-a06{
    background: linear-gradient(180deg, #F4F8FF 0%, rgba(244, 248, 255, 0) 143.33%);
    border-radius: 2rem;
    &__name{
        .h4{
            font-family: 'Poppins';
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 400;
        }
    }
    &__quote{
        .h4{
            font-size: 2.4rem;
            line-height: 3.2rem;
            font-weight: 400;
        }
    }
    &__image{
        gap:1.6rem;
        figure{
            border-radius: 50%;
            overflow: hidden;
            height: 4rem;
            width: 4rem;
            img{
                overflow: hidden;
                object-fit: cover;
            }
        }
        &--placeholder,
        &--alumni{
            img{
                object-fit: contain;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        &--quoteName{
            .h4{
                font-family: 'Poppins';
                text-transform: uppercase;
                font-size: 1.4rem;
                line-height: 2.4rem;
                font-weight: 500;
                letter-spacing: 0.15rem;
            }
        }
    }
    &__email{
        word-wrap: break-word;
        a{
            color: $super-blue-1;
        }
    }
}


.modal{
    &-body{
        padding-right: 3.6rem;
        padding-left: 3.6rem;
        @include media-breakpoint-up(lg) {
            padding-right: 10.6rem;
            padding-left: 10.6rem;
        }
        header{
            p{
                margin-bottom: 0px;
                text-transform: uppercase;
                &:first-child{
                    color: $black;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                }
                &:last-child{
                    color: #A4A4A4;
                    font-size: 1.4rem;
                    line-height: 2.4rem;
                }
            }
            button{
                top: 0;
                right: -4rem;
                @include media-breakpoint-up(lg) {
                    right: -10rem;
                }
                i{
                    font-size: 4rem;
                }
            }
        }
        &__content{
            p{
                font-family: 'ARS Maquette';
                color: $blue-gray;
                font-size: 1.7rem;
                line-height: 2.8rem;
                margin-bottom: 6.4rem;
            }
            figure{
                max-width: 39.2rem;
                // position: relative;
                // padding-bottom: 56.22%;
                // width: 39.2rem;
                // img{
                //     position: absolute;
                //     object-fit: cover;
                // }
            }
        }
    }
}
