$leadspace-1-bg: #eaf5ff;

.#{$global} {
    &-header {
        background: $white;
        height: 8rem;
        top: 0;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.1s;
        @include media-breakpoint-up(xl) {
            height: 16rem;
        }
        .primary-links{
            @include media-breakpoint-up(lg) {
                padding-right: 3.8rem;
            }
            &::after{
                position: absolute;
                right: 0;
                content: '';
                width: .2rem;
                height: 4.7rem;
                background-color: #dadada;
                top: -.5rem;
                @media (max-width: 1200px) {
                    display: none !important;
                }
            }
        }

        .secondary-links{
            @include media-breakpoint-up(xl) {
                padding-left: 3.5rem;
            }
            @media (max-width: 1200px) {
                display: none !important;
            }
        }
        &--dark{
            background-color: $leadspace-1-bg!important;
        }
    }
}

.header-small{
    height: 10rem;
    background-color:$leadspace-1-bg!important;
}

.hamburger-wrap {
    @media (min-width: 1200px) {
        display: none !important;
    }
}

.navbar-brand {
    gap: 2.5rem;
    @media (min-width: 1200px) {
        flex-grow: 0 !important;
    }
    p{
        letter-spacing: 10px;
    }
}

.zindex-10{
    z-index: 10;
}

